@model PatientMgt.Models.Patient

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Patient</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model =>model.ImageUrl)
        </dt>
        <dd class="col-sm-4">
            <img src="@Url.Content(Model.ImageUrl)" alt="Image"/>
        </dd>
        @* <dd class="col-sm-4">
            @file.ContentImage(model =>model.ContentImage)
        </dd> *@
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model =>model.Name)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model =>model.DOB)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.DOB)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model =>model.Address)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model =>model.Phone)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model =>model.Status)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model =>model.Email)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model =>model.Bill)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Bill)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model =>model.Notice)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Notice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model =>model.Message)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model =>model.Doctor)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Doctor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model =>model.Procedure)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Procedure)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model =>model.Examination)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Examination)
        </dd>    
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model =>model.Diagnosis)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Diagnosis)
        </dd>     
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model =>model.Cost)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model =>model.Charts)
        </dt>
        <dd class="col-sm-4">
            @Html.DisplayFor(model => model.Charts)
        </dd>             
    </dl>                                                                                  
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>